.searchWrapper {
	position: relative;
	width: 50%;
	margin: auto;
}

.searchFiels {
    font-size: 1.5rem;
    padding: 0.2em;
    width: 100%;
    box-sizing: border-box;
}

.searchResult {
	position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    list-style: none;
    width: 100%;
    text-align: left;
    border: 1px solid #dfdfdf;
    border-top: none;
    padding: 0 0.5em;
    max-height: 50vh;
    overflow: auto;
    background: #fff;
}

.searchResult li {
	padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchResult li:last-child {
	padding-bottom: 0.5em;
}

.searchResult li > * {
	vertical-align: middle;
}

.searchResult li img {
    height: 90px;
}

.searchResultTitle {
    max-width: 100%;
    margin-left: 0.5em;
    cursor: pointer;
}

.searchResulCol_1 {
    width: 120px;
}

.searchResulCol_2 {
    width: calc(90% - 120px);
}

.searchResulCol_3 {
    width: calc(10%);
    text-align: right;
}

@media (min-width: 320px) and (max-width: 480px) {
    .searchWrapper {
        width: 100%;
    }
}
